body{
  margin:0;
  padding: 0;
}
#main-container{
  margin:auto;
  width:100%;
  position: relative;
}
#imageContainer{
  width: 75%;
}
#pokedex{
  width:20%;
  height: 500px;
  padding: 15px;
  border:10px solid red;
  border-width: 25px 30px;
  display: inline-block;
  position: absolute;
  right:4px;
  top: 10px;
  background-color: white;
}