table{
	width: 100%;
}

h1{
	border-bottom: 2px solid gray;
}
form > p > input{
	width: 20%;
	height: 20px;
	text-align: justify;

}
form > input:last-child{
	width: 75px;
	background-color: lightgray;
}

